h1 {
  color: white;
  font-weight: 400;
  font-size: 2.25rem;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

p,
.p {
  text-align: left;
margin-bottom: 1rem;
line-height: 1.375rem;
}

p.header{
  font-size: .9375rem;
  color: white;
}

p.buttontext {
  margin: .3125rem 0 .3125rem 0;
  font-size: .9375rem;
  font-weight: bold;
  color: white;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.btn-warning {
  background-color: #F69139;
}

.btn-grey {
  background-color: #9dc0e4;
}

.logo{
  width: 8.75rem;
  padding: .3125rem;
  color: #f69139;
}

.navbar-collapse.collapse.in {
  display: block!important;
}


/* =============================== HERO Classes ======================================== */
.hero {
  background-image: url("../../Images/fingers-on-laptop-header-bg.jpg");
  background-size: cover;
}

.hero-text {
  color: #9dc0e4;
  font-size: 14px;
  letter-spacing: 1.05px;
  line-height: 24px;
}


/* ================================ FORMS AND LINKS Classes =========================== */
.bglightblue {
  background-color: #d3e9ff;
}

.bgblue {
  background-color: #1e365e;
  background-size: cover;
}

.text-blue {
  color: #0061aa;
  font-family: sans-serif;
  font-size: 1.15rem;
}

.text-bluelink {
  font-weight: 500;
  color:#0060a9;
}

.btn {
  padding: 0.5rem 2rem;
}

p.card-text {
  text-align: center;
}

/* ================================ Spacing Classes ============================= */
.mgnbot0 {
  margin-bottom: 0rem;
}

.padtop10 {
  padding-top: .625rem;
}

.padtop20 {
  padding-top: 1.25rem;
}

.padtop40 {
  padding-top: 2.5rem;
}

.padtop50 {
  padding-top: 3.125rem;
}

.padbot10 {
  padding-bottom: .625rem;
}

.padbot20 {
  padding-bottom: 1.25rem;
}

.padbot40 {
  padding-bottom: 2.5rem;
}

.padbot50 {
  padding-bottom: 3.125rem;
}


.padright40{
  padding-right: 2.5rem;
}
.padleft40{
  padding-left: 2.5rem;
}


/* =========================== Footer Classes ================================== */

.smalltext {
  font-size: .6875rem;
  color: #bbbdbf;
}

.footerbg {
  background-color: #2a2a2a;
}

.footertext,
.footertextlinks,
.footertext-social {
  color: #bbbdbf;
  text-decoration: none;
  margin-bottom: 0.75rem;
  line-height: 100%;
}
.footercontact-links {
  background-color: #303030;
}
