

p,
.p {
  text-align: left;
margin-bottom: 1rem;
line-height: 1.375rem;
}

p.buttontext {
  margin: .3125rem 0 .3125rem 0;
  font-size: .9375rem;
  font-weight: bold;
  color: white;
}

.footerbg {
  background-color: #2a2a2a;
}

.footertext,
.footertextlinks,
.footertext-social {
  color: #bbbdbf;
  text-decoration: none;
  margin-bottom: 0.75rem;
  line-height: 100%;
}
.footercontact-links {
  background-color: #303030;
}


.smalltext {
  font-size: .6875rem;
}

.mgnbot0 {
  margin-bottom: 0rem;
}

.padtop10 {
  padding-top: .625rem;
}

.padtop20 {
  padding-top: 1.25rem;
}

.padtop40 {
  padding-top: 2.5rem;
}

.padtop50 {
  padding-top: 3.125rem;
}

.padtop40 {
  padding-bottom: 2.5rem;
}

.padbot50 {
  padding-bottom: 3.125rem;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 500px) {

}